page-desc {
  @font-face {
    font-family: 'Kanit';
    src: url('../assets/fonts/Kanit-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  .kanit {
    font-family: 'Kanit';
  }

  .kanit-title {
    font-family: 'Kanit';
    font-size: 1.5em;
  }

  .kanit-w {
    font-family: 'Kanit';
  }
}
